<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Update by Upload</p>
                    </header>
                    <div class="card-content">
                        <form (submit)="submitFile($event)">
                            <div class="file has-name">
                                <label class="file-label">
                                    <input #upFile class="file-input" type="file" name="upload" required (change)="updateUploadName()" [attr.disabled]="locked ? true : null">
                                    <span class="file-cta">
                                        <span class="file-label">
                                            Choose a file...
                                        </span>
                                    </span>
                                    <span class="file-name">
                                        {{ upName }}
                                    </span>
                                </label>
                            </div>
                            <br>
                            <progress class="progress is-danger" [value]="uploadProgress" max="1"></progress>
                            <input type='submit' class="button is-danger is-fullwidth" value='Install Firmware' [attr.disabled]="locked ? true : null">
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Update by URI</p>
                    </header>
                    <div class="card-content">
                        <form (submit)="submitURI($event)">
                            <input class="input" type="text" name="uri" required [attr.disabled]="locked ? true : null" placeholder="http://192.168.0.42/firmware.bin"><br>
                            <br>
                            <progress class="progress is-danger" [value]="uriProgress" max="1"></progress>
                            <input type='submit' class="button is-danger is-fullwidth" value='Install Firmware' [attr.disabled]="locked ? true : null">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div #modalMD5Confirm class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Verify MD5-Checksum</p>
        </header>
        <section class="modal-card-body">
            The MD5-Checksum of the firmware file is as follows: <b class="is-family-code">{{ md5value }}</b><br>
            In case this is not correct or when you are not sure, please abort the update now and upload the firmware manually.
        </section>
        <footer class="modal-card-foot">
            <button #modalMD5OK type="button" class="button is-danger">Continue</button>
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="resetForms()"></button>
</div>