<section class="section">
    <div class="container">
        <p class="heading">Configuration</p>
        <progress class="progress is-large is-primary" *ngIf="loading"></progress>
        <article class="message is-danger" *ngIf="error">
            <div class="message-body">Error: {{ error }}</div>
        </article>
        <div *ngIf="categories">
            <ng-container *ngFor="let _ of categories; let i = index">
                <div class="columns" *ngIf="((i % 3) == 0)">
                    <ng-container *ngFor="let category of categories; let j = index">
                        <div class="column is-one-third" *ngIf="j >= i && j < i+3">
                            <app-config-category [category]="category"></app-config-category>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <br>
    <div class="container">
        <progress class="progress is-primary" min="0" max="1" [value]="importProgress" *ngIf="importProgress !== null"></progress>
        <div class="buttons" *ngIf="!loading">
            <input #importInput id="importInput" type="file" (change)="import($event)">
            <button class="button" (click)="importInput.click()" [attr.disabled]="importProgress">Import</button>
            <button class="button" (click)="export()" [attr.disabled]="importProgress">Export</button>
            <button class="button is-danger" (click)="reset()" [attr.disabled]="importProgress">Reset Configuration</button>
        </div>
    </div>
</section>