<section class="section">
    <div class="container">
        <p class="heading">Configuration</p>
        <div *ngIf="categories === null">Loading...</div>
        <div *ngIf="categories !== null">
            <ng-container *ngFor="let _ of categories; let i = index">
                <div class="columns" *ngIf="((i % 3) == 0)">
                <ng-container *ngFor="let category of categories; let j = index">
                    <div class="column is-one-third" *ngIf="j >= i && j < i+3">
                        <app-config-category [category]="category"></app-config-category>
                    </div>
                </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</section>